<!--<h3 align='center'>Preview</h3>-->
<div class='container'>

  <!--<h4 align='center'>English sentences:</h4>-->
  <div class="row">
    <div class="col-xs-12">
      <div style='color:blue;'><%= simple_format(@preview_E) %></div> 
    </div>
  </div>

  <!--<h4 align='center'>Translated sentences:</h4>-->
  <div class="row">
    <div class="col-xs-12">
      <div style='color:black;'><%= simple_format(@preview_O) %></div> 
    </div>
  </div>

<div class='center'>
  <%= link_to "Back to Proofread View", {controller: "sentences", action: "multi_button_action", translation_id: @translation.id, place_button: ''}, class: 'btn btn-xlarge btn-lg btn-success btn-primary' %>
</div>