<h1>Exporting Dash Format ...</h1>

<p>Please wait until the background job has completed. Then look for the file in the todproofexports bucket on AWS S3.</p>

<%#= link_to "Download", :action => "download", :controller => "dash_exports", class: 'btn btn-primary btn-lg' %>